<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.BIOMETRIC" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:label="Stakeplot"
        android:name="${applicationName}"
        android:exported="true"
        android:icon="@mipmap/launcher_icon"
        android:allowBackup="false"
        android:fullBackupContent="false">

        <!-- MAIN ACTIVITY (NO LAUNCHER intent-filter here) -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <meta-data android:name="io.flutter.embedding.android.EnableImpeller" android:value="false"/>
            <meta-data android:name="com.onesignal.Notification.Icon" android:resource="@drawable/app_icon"/>
        </activity>

       
        <activity-alias
            android:name="com.stakeplot.pfa.IconDefault"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/launcher_icon"
            android:label="Stakeplot"
            android:targetActivity="com.stakeplot.pfa.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- Other icons (disabled by default) -->
        <activity-alias
            android:name="com.stakeplot.pfa.Icon1"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/icon1"
            android:label="Stakeplot"
            android:targetActivity="com.stakeplot.pfa.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="com.stakeplot.pfa.Icon2"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/icon2"
            android:label="Stakeplot"
            android:targetActivity="com.stakeplot.pfa.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="com.stakeplot.pfa.Icon3"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/icon3"
            android:label="Stakeplot"
            android:targetActivity="com.stakeplot.pfa.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- Receivers and widget metadata -->
        <receiver
            android:name="com.stakeplot.pfa.StakeplotWidgetProvider"
            android:exported="true"
            android:enabled="true"
            android:permission="android.permission.BIND_APPWIDGET">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_info"/>
        </receiver>

        <receiver
            android:name="com.stakeplot.pfa.ClickableWidget"
            android:exported="true"
            android:enabled="true"
            android:permission="android.permission.BIND_APPWIDGET">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/click_info" />
        </receiver>

        <receiver android:name="com.stakeplot.pfa.WidgetClickReceiver" android:exported="true">
            <intent-filter>
                <action android:name="com.stakeplot.WIDGET_CLICK" />
                <action android:name="com.stakeplot.WIDGET_CLICKED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.stakeplot.pfa.PayableWidgetProvider"
            android:exported="true"
            android:enabled="true"
            android:permission="android.permission.BIND_APPWIDGET">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/payable_widget_info" />
        </receiver>

        <receiver
            android:name="com.stakeplot.pfa.NextFetchWidgetProvider"
            android:exported="true"
            android:enabled="true"
            android:permission="android.permission.BIND_APPWIDGET">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/next_fetch_widget_info"/>
        </receiver>

        <!-- Flutter embedding meta-data -->
        <meta-data android:name="flutterEmbedding" android:value="2"/>

    </application>

    <!-- Required to query activities that can process text -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>

    <!-- Required for VIEW BROWSABLE https schemes -->
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" />
        </intent>
    </queries>

</manifest>
