<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CADisableMinimumFrameDurationOnPhone</key>
    <true/>
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleDisplayName</key>
    <string>Stakeplot</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>ASAuthorizationAppleID</key>
    <string>YES</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>Stakeplot</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>4.3.5</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLName</key>
            <string>com.stakeplot.pfa</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>stakeplot</string>
            </array>
        </dict>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLName</key>
            <string>com.google.GIDSignIn</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>com.googleusercontent.apps.907682114982-3nr2b1vgipnq5348u4fieeemr74vmuol</string>
            </array>
        </dict>
        <dict>
            <key>CFBundleTypeRole</key> 
            <string>Editor</string>
            <key>CFBundleURLName</key>
            <string>com.stakeplot.pfa</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>com.stakeplot.pfa</string>
            </array>
        </dict>
    </array>
    <key>CFBundleIcons</key>
    <dict>
        <key>CFBundlePrimaryIcon</key>
        <dict>
            <key>CFBundleIconFiles</key>
            <array>
                <string>AppIcon</string>
            </array>
            <key>UIPrerenderedIcon</key>
            <false/>
        </dict>
        <key>CFBundleAlternateIcons</key>
        <dict>
            <key>Icon1</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>Icon1</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>Icon2</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>Icon2</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>Icon3</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>Icon3</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
        </dict>
    </dict>
    <key>CFBundleVersion</key>
    <string>4.3.5</string>
    <key>CFBundleShortVersionString</key>
    <string>4.3.5</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>This app requires access to the microphone for voice input features.</string>
    <key>NSSpeechRecognitionUsageDescription</key>
    <string>This app uses speech recognition to enhance user interaction.</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>This app uses your location to improve relevant features and user experience.</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>NSFaceIDUsageDescription</key>
    <string>Why is my app authenticating using face id?</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>This app requires access to your photo library to allow image selection.</string>
    <key>UIApplicationSupportsIndirectInputEvents</key>
    <true/>
    <key>UIBackgroundModes</key>
    <array>
        <string>remote-notification</string>
    </array>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>UIMainStoryboardFile</key>
    <string>Main</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationPortraitUpsideDown</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>com.apple.security.application-groups</key>
    <array>
        <string>group.com.stakeplot.pfa</string>
    </array>
    <key>LSApplicationQueriesSchemes</key>
        <array>
            <string>https</string>
            <string>http</string>
        </array>
</dict>
</plist>
